/* 
    Created on : 29-Jul-2021, 9:31:53 pm
    Author     : Sriram
*/
body{
    margin-width:auto;
    margin:auto;
    font-family:Roboto;
    font-size: medium;
    padding: 3px;
    background-color: azure;
}
h4{
    font:italic small-caps bolder 28px arial,sans-serif;
}
div{
    border:1px dashed black;
    margin-top:5px;
    padding: 20px;
   }
.left{
    float:left;
    
}
.right{
    float:right;
    }
 .list_box
 {
width:100%;
overflow:hidden;
}
.box
{
display: inline-block;
width: 50%;
float:left;
}
#image
{
    float:left;
    padding: 0px 20px 20px 20px;
}
#identity{
    overflow: :auto;
}
#background-image{
      background-image: url("img/bat_cover.jpg");
      height:350px;
      padding-top:50px;
      display: block;
      color:#fff;
      margin-left:auto;
      margin-right:auto;
      position:initial;
      width: 80%;
      
   }
#content{
    background-color:black;
    height: auto;
    width:auto;
    padding:10px;
    margin-top:1px;
    margin-bottom: 2px;
    float: right;
}
.thumbnail {
display: inline-flex;
height: auto;
padding: 4px;
margin-bottom: 20px;
background-color:#EBE2DC;
border: 1px dashed black;
text-align: center;
color: black;
margin: 50px;
}
#movies{
    background-color: black;
}

table{
    width: 100%;
    border:1px solid;
    background-color:  bisque;
}
th,td{
    padding: 15px;
    border:1px solid darkblue;
    height:30px;
 }
 nav{
     list-style-type: none;
      margin: 0;
      padding: 0;
 }
 li a {
     display: inline-block;
     color: #666;
     padding: 14px 16px;
     text-decoration:none;
     float: right;
 }
 .logo{
     float: left;
     height: 50px;
 }
 #header{
     padding: 5px 0px;
     border-bottom: 1px solid;
 }
 input {
padding: 14px 70px;
font-size: 15px;
margin-bottom: 30px;
}
#subscribe {
border: none;
background-color: #26211f;
color: white;
font-size: 16px;
margin: 4px -4px;
padding: 16px 40px;
<a href="mailto:someone@example.com">Send email</a>}